{% extends 'base.html' %}

{% block content %}
<h2 class="animate__animated animate__fadeInDown">Relatórios</h2>
<h3>Relatório de Produtos</h3>
<table class="animate__animated animate__fadeInUp">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
        <tr>
            <td>{{ produto[0] }}</td>
            <td>{{ produto[1] }}</td>
            <td>{{ produto[2] }}</td>
            <td>{{ produto[3] }}</td>
            <td>{{ produto[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Relatório de Movimentações</h3>
<table class="animate__animated animate__fadeInUp">
    <thead>
        <tr>
            <th>ID</th>
            <th>Produto</th>
            <th>Tipo</th>
            <th>Quantidade</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        {% for movimentacao in movimentacoes %}
        <tr>
            <td>{{ movimentacao[0] }}</td>
            <td>{{ movimentacao[1] }}</td>
            <td>{{ movimentacao[2] }}</td>
            <td>{{ movimentacao[3] }}</td>
            <td>{{ movimentacao[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
